body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App-header {
  background-color: #20b2aa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
  width: 100%;
}

.App-header h1 {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #333;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  transition: ease-in-out 0.3 all;
}
h1 {
  color: white !important;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.product-table th {
  background-color: #f2f2f2;
  color: #333;
}

.product-table tr {
  background-color: #f9f9f9;
}

.listBtn {
  display: flex;
  gap: 15px;
  justify-content: end;
}

.btn-Update {
  background-color: #ff7043;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-Update:hover {
  background-color: #e65536;
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.inputForm input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.95em;
}

.inputForm .btn-Update {
  margin-top: 10px;
  align-self: flex-end;
}
.product-table tr:hover {
  background-color: #e0e0e0;
}
.selectedRow {
  background-color: #63cdc7 !important;
}

.alert {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Thông báo thành công */
.alert.success {
  background-color: #d4edda;
  transition: ease-in-out 0.3 all;
  color: #155724;
  border: 1px solid #c3e6cb;
}

/* Thông báo lỗi */
.alert.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.listBtn_1 {
  display: flex;
  gap: 15px;
  justify-content: center;
}

/* Hiệu ứng fade in/out */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
